{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link 
    rel="stylesheet" 
    type="text/css" 
    href="{% static 'css/challenge-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="challenge-container">
    <div class="challenge-img">
        <img 
            src="{% static 'images/brain-gears-sml.png' %}" 
            alt="Brain gears turning"
        >
    </div>
    <div class="challenge-details">
        <h1>My PPT Challenge from {{ challenge.date }}</h1>
        <h2>Inspiration: {{ challenge.inspiration }}</h2>
        <div class="challenge-actions">
            <a href="{% url 'challenges_update' challenge.id %}" class="btn warn">Edit</a>
            <a href="{% url 'challenges_delete' challenge.id %}" class="btn danger">Delete</a>
        </div>
    </div>
</section>

{% if challenge.done_peeps_today and challenge.done_places_today and challenge.done_things_today %}

<div class="challenge-cards-container">
    <section class="challenges">
        <h2>Today's People, Places & Things</h2>
        <div class="subsection-title">
        <img 
            src="{% static 'images/people.png' %}" 
            alt="People logo"
        />
        <img 
            src="{% static 'images/places.png' %}"
            alt="Places logo"
        />
        <img 
            src="{% static 'images/things.png' %}" 
            alt="Things logo"
        />
        </div>
            <table>
                <thead>
                    <tr class="table-header"><th class="ppt">People:</th><th></th></tr>
                </thead>
                <tbody>
                    {% for person in challenge.people_set.all %}
                    <tr>
                        <td>{{person.get_type_display}}</td>
                        <td>{{person.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table>
                <thead>
                    <tr class="table-header"><th class="ppt">Places:</th><th></th></tr>
                </thead>
                <tbody>
                    {% for place in challenge.place_set.all %}
                    <tr>
                        <td>{{place.get_type_display}}</td>
                        <td>{{place.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table>
                <thead>
                    <tr class="table-header"><th class="ppt">Things:</th><th></th></tr>
                </thead>
                <tbody>
                    {% for thing in challenge.thing_set.all %}
                    <tr>
                        <td>{{thing.get_type_display}}</td>
                        <td>{{thing.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </section>
</div>

{% else %}

<div class="challenge-cards-container">
    <section class="challenges">
        <div class="subsection-title">
        <h2>People</h2>
        <img 
            src="" 
            alt=""
        />
        <img 
            src=""
            alt=""
        />
        <img 
            src="" 
            alt=""
        />
        </div>
        <h3>Complete the People Section</h3>
        <form
            action="{% url 'add_people' challenge.id %}" 
            method="post" 
            class="subsection-section"
            autocomplete="off"
        >
            {% if challenge.done_peeps_today %}
                <p class="complete">You completed the People section of the challenge for {{challenge.date}}.</p>
            {% else %}
                <p class="incomplete">You have not completed the People section for {{challenge.date}}</p>
                <p class="incomplete">Add more people to your list!</p>
            {% endif %}
            {% csrf_token %}
            {{ people_form.as_p }}
            <button type="submit" class="btn submit">Add Person</button>
        </form>
        <h3>Today's People:</h3>
        {% if challenge.people_set.all.count %}
            <table>
                <thead>
                    <tr><th>Person Type</th><th>Name</th></tr>
                </thead>
                <tbody>
                    {% for person in challenge.people_set.all %}
                    <tr>
                        <td>{{person.get_type_display}}</td>
                        <td>{{person.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="subsection-section">You have not yet started the People Challenge for {{challenge.date}}</p>
        {% endif %}
    </section>
    <div class="challenge-cards-container">
    <section class="challenges">
        <div class="subsection-title">
        <h2>Places</h2>
        <img 
            src="" 
            alt=""
        />
        <img 
            src=""
            alt=""
        />
        <img 
            src="" 
            alt=""
        />
        </div>
        
        <h3>Complete the Places Section</h3>
        <form
        action="{% url 'add_place' challenge.id %}"
        method="post" 
        class="subsection-section"
        autocomplete="off"
        >
            {% if challenge.done_places_today %}
                <p class="complete">You completed the Places section of the challenge for {{challenge.date}}.</p>
            {% else %}
                <p class="incomplete">You have not completed the Places section for {{challenge.date}}</p>
                <p class="incomplete">Add more places to your list!</p>
            {% endif %}
            {% csrf_token %}
            {{ place_form.as_p }}
            <button type="submit" class="btn submit">Add Place</button>
        </form>
        <h3>Today's Places</h3>
        {% if challenge.place_set.all.count %}
            <table>
                <thead>
                    <tr><th>Place Type</th><th>Place Name</th></tr>
                </thead>
                <tbody>
                    {% for place in challenge.place_set.all %}
                    <tr>
                        <td>{{place.get_type_display}}</td>
                        <td>{{place.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="subsection-section">You have not yet started the Places Challenge for {{challenge.date}}</p>
        {% endif %}
    </section>
</div>
<div class="challenge-cards-container">
    <section class="challenges">
        <div class="subsection-title">
        <h2>Things</h2>
        <img 
            src="" 
            alt=""
        />
        <img 
            src=""
            alt=""
        />
        <img 
            src="" 
            alt=""
        />
        </div>
        <h3>Complete the Things Section</h3>
        <form
            action="{% url 'add_thing' challenge.id %}"
            method="post" 
            class="subsection-section"
            autocomplete="off"
        >
            {% if challenge.done_things_today %}
                <p class="complete">You completed the Things section of the challenge for {{challenge.date}}.</p>
            {% else %}
                <p class="incomplete">You have not completed the Things section for {{challenge.date}}</p>
                <p class="incomplete">Add something to your list!</p>
            {% endif %}
            {% csrf_token %}
            {{ thing_form.as_p }}
            <button type="submit" class="btn submit">Add Thing</button>
        </form>
        <h3>Today's Things</h3>
        {% if challenge.thing_set.all.count %}
            <table>
                <thead>
                    <tr><th>Thing Type</th><th>Thing Name</th></tr>
                </thead>
                <tbody>
                    {% for thing in challenge.thing_set.all %}
                    <tr>
                        <td>{{thing.get_type_display}}</td>
                        <td>{{thing.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="subsection-section">You have not yet started the Things Challenge for {{challenge.date}}</p>
        {% endif %}
    </section>
</div>
{% endif %}

{% endblock %}
