{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/challenge-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
    <h1>People, Places and Things Challenge Log:</h1>
    <img src="{% static 'images/people.png' %}" alt="" />
    <img src="{% static 'images/places.png' %}" alt="" />
    <img src="{% static 'images/things.png' %}" alt="" />
</section>

<section class="card-container">
    {% for challenge in challenges %}
        <div class="card">
            <a href="{% url 'challenges_detail' challenge.id %}">
            <div class="card-content">
                <div class="card-img-container">
                <img class="brain-gears"
                    src="{% static 'images/brain-gears-sml.png' %}" 
                    alt=""
                >
                </div>
                <h2 class="card-title">My PPT Challenge from {{ challenge.date }}</h2>
                <h2>was inspired by {{ challenge.inspiration }}</h2>
            </div>
            </a>
        </div>
    {% endfor %}
</section>

{% endblock %}