{% extends 'base.html' %}

{% block content %}

<h1>About the PPT Challenge</h1>
<hr />
<p>
    Welcome to the People, Places and Things Challenge! The PPT, challenges you to document your passing 
    thoughts and ideas, the ones that normally get lost in the fray of out daily lives. We all have the 
    “I’d really like to know more about ‘X’” or “I should really reach out to ‘Y’” moments. But when we 
    have free time, we have entirely forgotten about these thoughts. Having a place for these ideas live 
    and gives them the potential to grow int to actions! 
</p>

{% endblock %}