{% extends 'base.html' %}

{% block content %}

<h1>About the PPT Challenge</h1>
{% comment %} <hr /> {% endcomment %}
<div class="about-card">
    <p>
        Welcome to the People, Places & Things Challenge! The PPT, challenges you to document your passing 
        thoughts and ideas. The ones that normally get lost in the fray of our daily lives. We all have the 
        “I’d really like to know more about ‘X’” or “I should really reach out to ‘Y’” moments. But when we finally do 
        have some free time, we have entirely forgotten about these thoughts. Having a place for these ideas live 
        and hangout with each other, gives them the potential to grow, evolve and become actions! 
    </p>
    <p>
        People, Places & Things is not just a notepad or glorified todo list, it is designed to actually foster 
        generation of new ideas and boost your creativity. In science talk.. the goal is to increase the neuroplasticity 
        of your brain by creating new connections via increased neural synapses. It is known that neuroplasticity is 
        capable of generation and regeneration throughout our lives, given the right stimuli. This stimuli can be anything.
        This challenge is designed to stimulate your brain and boost your desire to learn, travel, connect and live in
        gratitude. 
    </p>
    <p>
        Each day you decide to do a PPT challenge, you will simply be asked for a bit of information on three different 
        subjects.. you guessed: People, places and things. These questions will get your brain firing and documenting 
        these ideas is the first step to turning them in to reality. Let’s get started!
    </p>
</div>

{% endblock %}