.challenge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,
h2 {
    font-family: 'Abril Fatface', cursive;
}

.challenge-img {
    width: 75%;
    max-width: 350px;
}

.challenge-actions {
    margin-top: 20px;
    height: auto;
}

.challenge-cards-container {
    align-items: center;
    margin: 25px 0 25px 0;
}

.subsection-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.subsection-section {
    margin: 0 8px;
}

.incomplete,
.complete {
    margin: 0;
    font-weight: bold;
}

.incomplete {
    color: crimson;
}

.complete {
    color: green;
}

.challenge-details {
    margin: auto;
}

.challenge-details h1 {
    font-size: 36px;
}

.challenge-details h2 {
    margin: 0 0 10px;
    margin-top: 0;
    margin-bottom: 10px;
}

.challenge-details h3 {
    margin: 16px 0 10px 0;
}

.challenge-details p {
    margin: 5px 0;
}

.challenge-cards-container > section {
    width: 80%;
    min-width: 315px;
    border: rgb(71, 96, 114) solid 2px;
    background-color: rgb(238, 238, 238, .7);
    border-radius: 6px;
    padding: 10px;
    box-shadow: 10px 10px 12px -1px #AAA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin: auto;
}

.subsection-title img {
    height: 42px;
    margin-left: 8px;
}

.subsection-title img:first-of-type {
    margin-left: 16px;
}

.challenges h2 {
    font-size: 32px;
    margin: 0;
    color: rgb(51, 66, 87);
}

.challenges h3 {
    font-size: 24px;
    margin: 10px 0;
    color: rgb(51, 66, 87);
}

.subsection-section p,
.subsection-section input,
.subsection-section select {
    font-size: 1.1rem;
}

.subsection-section input,
.subsection-section select {
    margin-left: 5px;
    padding: 3px;
}

.challenges table {
    width: calc(100% - 16px);
    text-align: left;
    border-collapse: collapse;
    margin: 0 8px;
    table-layout: fixed;
}

.challenges td {
    padding: 8px 5px;
}

.challenge-details th {
    font-size: 1.1rem;
    padding: 5px 5px 0;
    border-bottom: rgb(71, 96, 114) solid 2px;
    color: rgb(51, 66, 87);
}

.table-header {
    background-color: #f3f3fd44;
    border-bottom: rgb(84, 113, 135) solid 2px;
    
}

th {
    padding: 8px 5px;
}

.challenges tr:nth-child(even) {
    background-color: #f3f3fd;
}

@media only screen and (min-width: 768px) {
    .challenge-container {
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }

    .challenge-img {
        width: 20%;
        max-width: 200px;
        margin-right: 25px;
    }

    .challenge-cards-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .challenge-cards-container > section {
        width: 46%;
    }
}
