.card-container {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

.page-header {
    margin-left: 135px;
}

.card {
    width: 325px;
    margin: 10px;
    background-color: rgb(238, 238, 238, .7);
    border: rgb(71, 96, 114) solid 2px;
    border-radius: 10px;
    box-shadow: 10px 10px 12px -1px #AAA;
}

.brain-gears {
    margin-left: -40px;
}

.card-content {
    padding: 20px;
    width: 305px;
}

.card > a {
    text-decoration: none;
    color: rgb(51, 66, 87);
}

.card h2 {
    margin: 10px 0;
    font-family: 'Abril Fatface', cursive;
}

.card p {
    margin: 5px 0;
}